/* Use CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

/* 
Colors:
Blue: #1E2A38
White: #F5F5F5
Brown: #D9BFAF
Gold: #F0A202
Gray: 	#7A7A7A
*/

body {
  text-align: center;
}

/* Hero Section */
.hero-section {
  height: 50vh;
  background-image: url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.hero-title,
.activities-title,
.activities-section-title,
.guide-title {
  font-family: "Playfair Display", serif;
}

.hero-description,
.guide-quote,
.guide-name {
  font-family: "Lato", sans-serif;
}

.hero-title {
  color: #f5f5f5;
  font-size: 4em;
}

.hero-description {
  color: #d9bfaf;
  font-size: 1.33rem;
}

/* Activities Section*/
.activities-section {
  height: 100%;
  background-color: #f5f5f5;
  padding: 2rem 5rem;
}

.activities-section-title {
  color: #1e2a38;
  font-size: 2rem;
}
.activities-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
}

.activities-title {
  color: #f0a202;
  padding: 10px 0;
}

.activities-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 2rem 3rem;
  height: 300px;
}

.activities-img {
  display: block;
  width: 200px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #d9bfaf;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.activities-description {
  color: #7a7a7a;
  line-height: 1.6;
}

/* Guide Section */
.guide-section {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9bfaf;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 600px;
  gap: 2rem;
  padding: 2rem;
  border-radius: 15px;
}
.guide-img {
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.guide-title {
  color: #1e2a38;
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
}

.guide-quote {
  font-style: italic;
  text-align: left;
  line-height: 1.6;
  font-size: 1.125rem;
  padding-bottom: 0.75rem;
}

.guide-name {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}
